.Toolbar a{
  font-size: 16px !important;
}
.Toolbar a:hover{
  text-decoration: none !important;
}

.Spacer {
  flex: 1 1 auto;
}

.FirmTitle {
  color: #000;
}

.BrandTitle {
  color: #1685df;
}


